<div class="flex items-center justify-between">
  <h3 class="text-lg font-medium">User Settings</h3>
  <div class="breadcrumbs hidden p-0 text-sm sm:inline">
    <ul>
      <li><a href={~p"/"} >Home</a></li>
      <li class="opacity-80">User Settings</li>
    </ul>
  </div>
</div>
