<div class="flex items-center justify-between">
  <h3 class="text-lg font-medium">CPU/GPU Miners - {@cpu_gpu_miner.name}</h3>
  <div class="breadcrumbs hidden p-0 text-sm sm:inline">
    <ul>
      <li><a href={~p"/"} >Minings Rigs</a></li>
      <li><a href={~p"/cpu_gpu_miners"} >CPU/GPU Miners</a></li>
      <li class="opacity-80">
        <a href={~p"/cpu_gpu_miners/#{@cpu_gpu_miner.id}"}>
          {@cpu_gpu_miner.name}
        </a>
      </li>
    </ul>
  </div>
</div>
