<Layouts.nexus_app flash={@flash} current_user={@current_user}>
  <div id="layout-content">
    <._index_top cpu_gpu_miner={@cpu_gpu_miner}/>
    <._index_playbook_table cpu_gpu_miner={@cpu_gpu_miner} streams={@streams}/>
  </div>
</Layouts.nexus_app>
