<div class="-mt-2 flex items-center justify-between px-6 pb-4">
  <p>
    Developed by
    <a href="https://x.com/LinhNguyenV" target="_blank" class="text-primary ms-1">
      Nguyễn Vĩnh Linh
    </a>
    with
    <a href="https://www.phoenixframework.org/" target="_blank" class="text-primary ms-1"> Phoenix Web Framework </a>,
    <a href="https://tailwindcss.com/" target="_blank" class="text-primary ms-1"> Tailwind </a>,
    <a href="https://daisyui.com/" target="_blank" class="text-primary ms-1"> DaisyUI </a>,
    <a href="https://nexus.daisyui.com/" target="_blank" class="text-primary ms-1"> Nexus Dashboard</a>
    and other opensource developers & their awesome libraries. (^,.,^)!~~~
  </p>
  <a href="https://hexalink.xyz/about.html" target="_blank" class="bg-primary text-primary-content group flex size-9 items-center gap-2 overflow-hidden rounded-full px-2.5 py-0.5 font-medium transition-all hover:w-26">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-metal-icon lucide-hand-metal"><path d="M18 12.5V10a2 2 0 0 0-2-2a2 2 0 0 0-2 2v1.4"/><path d="M14 11V9a2 2 0 1 0-4 0v2"/><path d="M10 10.5V5a2 2 0 1 0-4 0v9"/><path d="m7 15-1.76-1.76a2 2 0 0 0-2.83 2.82l3.6 3.6C7.5 21.14 9.2 22 12 22h2a8 8 0 0 0 8-8V7a2 2 0 1 0-4 0v5"/></svg>
    <span class="hidden text-sm text-nowrap group-hover:block">Sponsor me!</span>
  </a>
</div>
