
<!doctype html>
<html lang="en" class="group/html">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Mining Rig Monitor" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>

      <link rel="shortcut icon" href={~p"/images/mrm_ico.ico"}  media="(prefers-color-scheme: dark)" />
      <!--  Need icon for light theme -->
      <link rel="shortcut icon" href={~p"/images/mrm_ico.ico"} media="(prefers-color-scheme: light)" />
    <!-- Font loading -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800;1000&display=swap" rel="stylesheet" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
    <link rel="stylesheet" href={~p"/assets/nexus_app.css"} />

    <!-- This script is copy from newly generated mix phx.new -->
    <script>
     (() => {
       const setTheme = (theme) => {
         if (theme === "system") {
           localStorage.removeItem("phx:theme");
           document.documentElement.removeAttribute("data-theme");
         } else {
           localStorage.setItem("phx:theme", theme);
           document.documentElement.setAttribute("data-theme", theme);
         }
       };
       setTheme(localStorage.getItem("phx:theme") || "system");
       window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
       window.addEventListener("phx:set-theme", ({ detail: { theme } }) => setTheme(theme));
     })();
    </script>
  </head>

  <body>
    {@inner_content}
  </body>
</html>
