<Layouts.nexus_app flash={@flash} current_user={@current_user}>
  <div id="layout-content">
    <._index_top />
    <._index_pool_address streams={@streams} />
    <._index_wallet_address streams={@streams} />
  </div>
</Layouts.nexus_app>
